<div class="container">
    <p>登録情報</p>
    <%= form_tag("/users/#{@current_user.id}/userinfoedit", {method: "post"}) do %>
    <div class="partOfProfile">
        <p>ユーザーネーム:</p>
        <input type="text" name="name" value="<%= @user.name %>">
        <p>変更する場合、16文字以内でないと登録できません</p>
    </div>
    <div class="partOfProfile">
        <p>パスワード:</p>
        <input type="text" name="password" value="<%= @user.password %>">
        <p>変更する場合、8文字以上でないと登録できません</p>
    </div>
    <p><input type="submit" value="変更を保存"></p>
    <% end %>
    <div class="deleteAccount">
        <%= link_to("アカウント削除", "/users/#{@current_user.id}/deleteaccount") %>
    </div>
    <p><%= link_to("ユーザーズホームへ戻る", "/users/#{@current_user.id}/home") %></p>
</div>