<!DOCTYPE html>
<html>

<head>
  <title>QuizApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= include_gon %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <header>
    <div class="header-logo">
      <% if @current_user%>
      <h1><%= link_to("YouGive, YouAnswer", "/users/#{@current_user.id}/home") %></h1>
      <% else %>
      <h1><%= link_to("YouGive, YouAnswer", "/") %></h1>
      <% end %>
    </div>
    <ul class="header-menus">
      <% if @current_user%>
      <li><%= link_to("ログアウト", "/logout", {method: "post"}) %></li>
      <li class="current-user">
        <% if @current_user.administrator == true %>
        <%= link_to("ログイン中:  #{@current_user.name}", "/administrator/profile") %>
        <% else %>
        <%= link_to("ログイン中:  #{@current_user.name}", "/users/#{@current_user.id}/profile") %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </header>

  <div class="flashNotice">
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
  </div>

  <%= yield %>

  <footer>

  </footer>
</body>

</html>